<div class="banner">
  <h1>Tonight's Menu</h1>
</div>


<div class="grid">
  <% @cocktails.each do |cocktail| %>
    <%= link_to cocktail_path(cocktail), class: 'cocktail-card-holder' do %>
      <div class="cocktail-card" style="  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.1)), url(<%= cl_image_path cocktail.photo.key, height: 300, width: 400, crop: :fill %>);">
        <h3><%= cocktail.name %></h3>
        <ul>
          <% cocktail.doses.each do |dose| %>
            <li><%= dose.ingredient.name %></li>
          <% end %>
        </ul>
      </div>

    <% end %>
  <% end %>
  <div class="cocktail-card button-card">
          <button class="pure-button" > <%= link_to "Create a cocktail", new_cocktail_path %></button>
      </div>
</div>



